@import "variables";
@import "mixin";


.G-cursor-pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $grey;
  border-radius: 20px;
}


.G-container {
  max-width: 1440px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  @include screen-max-width-767{
    padding: 0 20px;
  }
  @include screen-max-width-576{
    padding: 0 20px;
  }
}

