// colors
$white: #ffffff;
$yellow: #FCB500;
$grey: #ADADAD;
$black: #000000;

//page withs

$max-width-1600: 1600px;
$max-width-1400: 1400px;
$max-width-1300: 1300px;
$max-width-1200: 1200px;
$max-width-1024: 1024px;
$max-width-991: 991px;
$max-width-767: 767px;
$max-width-576: 576px;

// transitions
$transition: 0.3s;


